  <!-- ==================== Checkout Area (Start) ==================== -->
  <section>

    <div class="checkout">

      <div class="box-1">

        <!-- ========== Billing-Address Area (Start) ========== -->
        <div class="billing address checkout-item">

          <div class="heading">
            <h2>contact details</h2>
          </div>

          <form class="form" action="https://elitecars-html.asdesignsgalaxy.com/pages/Cars/example.php">
            <div class="input-box">
              <input type="text" name="first-name" placeholder="first name" id="b-first-name" class="box">
              <input type="text" name="last-name" placeholder="last name" id="b-last-name" class="box">
            </div>
            <input type="text" name="company" placeholder="company" id="b-company" class="box">
            <input type="text" name="country" placeholder="country" id="b-country" class="box">
            <input type="text" name="address" placeholder="address" id="b-address" class="box">
            <div class="input-box">
              <input type="text" name="city" placeholder="town/city" id="b-city" class="box">
              <input type="text" name="zip" placeholder="postcode/ZIP" id="b-zip" class="box">
            </div>
            <div class="input-box">
              <input type="number" name="number" placeholder="phone no" id="b-number" class="box">
              <input type="email" name="email" placeholder="email address" id="b-email" class="box">
            </div>
          </form>

        </div>
        <!-- ========== Billing-Address Area (End) ========== -->



        <!-- ========== Shipping-Address Area (Start) ========== -->
        <div class="shipping address checkout-item">

          <div class="heading"> 
            <h2>booking details</h2> 
          </div>

          <form class="form" action="https://elitecars-html.asdesignsgalaxy.com/pages/Cars/example.php">
            <div class="input-box">
              <input type="text" name="from-address" placeholder="from address" id="from-address" class="box">
              <input type="text" name="to-address" placeholder="to address" id="to-address" class="box">
            </div>
            <div class="input-box">
              <input type="text" name="pickup-date" placeholder="pickup date" id="pickup-date" class="box" onfocus="(this.type='date')" onblur="(this.type='text')">
              <input type="text" name="pickup-time" placeholder="pickup time" id="pickup-time" class="box" onfocus="(this.type='time')" onblur="(this.type='text')">
            </div>
            <div class="input-box">
              <input type="text" name="drop-date" placeholder="dropoff date" id="dropoff-date" class="box" onfocus="(this.type='date')" onblur="(this.type='text')">
              <input type="text" name="drop-time" placeholder="dropoff time" id="dropoff-time" class="box" onfocus="(this.type='time')" onblur="(this.type='text')">
            </div>
            <textarea cols="30" rows="10" name="comment" class="box" id="comment" placeholder="message"></textarea>
          </form>

        </div>
        <!-- ========== Shipping-Address Area (End) ========== -->

      </div>

      <div class="box-2"> 

        <!-- ========== Payment-Method Area (Start) ========== -->
        <div class="payment-methods checkout-item">

          <div class="heading"> 
            <h2>payment method</h2> 
          </div>

          <div class="content">

            <div class="payment">
              <input type="radio" id="direct-bank-transfer" name="payment" value="DIRECT">
              <label for="direct-bank-transfer">direct bank transfer</label>
              <div class="payment-body active">
                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have our account..</p>
              </div>
            </div>

            <div class="payment">      
              <input type="radio" id="cash-on-delivery" name="payment" value="CASH">
              <label for="cash-on-delivery">cash on delivery</label>      
              <div class="payment-body">
                <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
              </div>
            </div> 

            <div class="payment">
              <input type="radio" id="paypal" name="payment" value="PAYPAL">
              <label for="paypal">paypal</label>
              <div class="payment-body">
                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
              </div>
            </div>

          </div>

        </div>
        <!-- ========== Payment-Method Area (End) ========== -->

        

        <!-- ========== Cart-Total Area (Start) ========== -->
        <div class="shop-summary checkout-item">

          <div class="heading">  
            <h2>cart total</h2> 
          </div>

          <div class="summary-list">

            <div class="summary-item">
              <div class="name box">sub total</div>
              <div class="value box">$450.00</div>
            </div>

            <div class="summary-item">
              <div class="name box">delivery fee</div>
              <div class="value box">$50.00</div>
            </div>

            <div class="summary-item">
              <div class="name box">discount</div>
              <div class="value box">$20.00</div>
            </div>

            <div class="summary-item">
              <div class="name box">tax</div>
              <div class="value box">$20.00</div>
            </div>

            <div class="summary-item">
              <div class="name box">total</div>
              <div class="value box">$500.00</div>
            </div>

          </div>

          <a href="#" class="btn">place order</a>

        </div>
        <!-- ========== Cart-Total Area (End) ========== -->

      </div>

    </div>

  </section>
  <!-- ==================== Checkout Area (End) ==================== -->
